@tailwind base;
@tailwind components;
@tailwind utilities;   
 
.rise{
    animation-name: lets;
    width:40%;
    animation-duration: 4s; 
    animation-delay: 3s;
    border-radius: 10px; 
    background-color: #0068f0;
    height:25px;
  }
  @keyframes lets {
         10%{
           width: 10%;  
         } 
  }
  .risee{ 
    animation-name: letes;
    width: 50%;
    animation-delay: 3s;
    animation-duration: 4s; 
    border-radius: 10px; 
    background-color: rgb(255, 0, 0);
    height:25px;
  }
  @keyframes letes {
         10%{
           width: 10%;  
           background-color: black;
         } 
  }
  .ris{ 
    animation-name: letews;
    width: 70%;
    animation-delay: 3s;
    animation-duration: 4s; 
    border-radius: 10px; 
    background-color: rgb(0, 255, 115);
    height:25px;
  }
  @keyframes letews {
         10%{
           width: 10%;  
           background-color: black;
         } 
  }
  .riter{ 
    animation-name: letews;
    width:100%;
    animation-duration: 4s; 
    animation-delay: 3s;
    border-radius: 10px; 
    background-color: rgb(0, 153, 255);
    height:25px;
  } 
 
.slop{
    z-index: 222;
}
.sloper{
    z-index:111;
}
.remio{
    box-shadow: 0px 0px 20px 5px  rgb(209, 209, 209);
}
.romios{
    box-shadow: 0px 0px 20px 5px  rgb(209, 209, 209);
}
.romioss{
    box-shadow: 0px 0px 20px 5px  rgb(209, 209, 209);
}
.alison::-webkit-scrollbar{
    display: none;
}
.def{ 
    font-size:10px;
}
  .loader {
    border: 3px solid rgb(218, 218, 218);
    border-top: 5px solid black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: auto;
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loaders {
    border: 3px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(70, 70, 70);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: auto;
    animation-name: spin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(360deg);
    }
} 
.opert{
    z-index: 222;
}
.rote{ 
    z-index: 2; 
    transform: rotate(90deg);
}
.roter{  
    z-index: 2;
    transition: 1s;
    transform: rotate(269deg);
}
.rotes{ 
    z-index: 2;
    transition: 1s;
    transform: rotate(180deg);
}
.rit{
    transform: rotate(20deg); 
}
.lef{
    transform: rotate(-20deg); 
}
.anime{
        animation-name: animes;
        animation-iteration-count: infinite;
        animation-duration: 3s;
}
@keyframes animes {
    10%{    
        margin-top:60px;
    }
}
.anired{ 
    animation-name: redone; 
    animation-duration: 3s; 
}
@keyframes redone {
    10%{  
        width: 10px;
    }
}
.anireder{ 
    animation-name: bluet; 
    animation-duration: 3s; 
}
@keyframes bluet {
    10%{  
        width: 10px;
    }
}