 
  .slop{ 
    z-index: 222;
  }
  .alison::-webkit-scrollbar{
    display: none;
  }
  .lowercolo{
    animation-name: chager;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  @keyframes chager {
    10%{
        background-color: rgb(5, 5, 5); 
    } 
  }
  .lovu{
    height: 400px;
    overflow: scroll; 
  }
  .lovu::-webkit-scrollbar{
    display: none;
  } 
   .lovus{ 
    height: 400px;
    overflow: scroll;
  }
  .lovus::-webkit-scrollbar{
    display: none;
  }
  .loader{
    border: 3px solid rgb(218, 218, 218);
    border-top: 5px solid black;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: auto;
    animation-name: spin;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} 
@keyframes spin {
    from{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(360deg);
    }
}  .loaders{
    border: 3px solid rgb(255, 255, 255);
    border-top: 5px solid rgb(70, 70, 70);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: auto;
    animation-name: spin;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
} 
@keyframes spin {
    from{
        transform: rotate(10deg);
    }
    to{
        transform: rotate(360deg);
    }
} 
 .tert{
     background-image: url("/img/era.jpeg");
     background-repeat: no-repeat;
     background-size: 100%  100%; 
     background-color: rgba(0, 0, 0, 0.678);
     background-blend-mode: multiply;
     animation-name: change;
     animation-duration:  3s; 
     animation-iteration-count: infinite;
 } 
 .found{
    font-size: 10px;
 }
 .rambogini{
    margin-top: 20px;
    border-radius: 10px;  
    width: 95%;
    box-shadow: 0px 0px 20px 10px rgb(207, 207, 207);
 }
 .sok{
    font-size:10px;
 }
 .suld{
       animation-name: sulld;
       animation-duration: 3s;
       visibility: hidden;
 }
 @keyframes sulld {
     10%{
         visibility: visible;
     }
 }
 .bat::-webkit-scrollbar{
   display: none;
 }
 .indes{
     z-index:202;
 }
 @keyframes change{
     10%{
         background-image: url("/img/man.jpeg");
     }
     20%{
         background-image: url("/img/cart.jpeg");
     }
     30%{
         background-image: url("/img/piano.jpeg");
     }
     40%{
         background-image: url("/img/ugo.jpeg"); 
     }
 }
 .osa{
     display: none;
 }
 .bert{
     animation-name: berts;
     animation-duration: 5s; 
     visibility: hidden;
     z-index:0;
 }
 @keyframes berts{
     10%{
         margin-top:-30px;
         color: rgb(117, 117, 117);
         visibility:visible;
     }
 }
 .berter{
     animation-name: bertlo;  
     animation-delay: 5s;  
     z-index: 0;
     animation-duration: 6s; 
     visibility: hidden;
 }
 @keyframes bertlo{
     10%{
         margin-top:-140px;
         color: rgb(117, 117, 117);
         visibility:visible;
     }
 }
 .bertery{
     animation-name: ber;  
     animation-delay: 11s;
     animation-iteration-count: infinite;  
     animation-duration: 6s;  
     visibility:hidden;
 }
 @keyframes ber{
     10%{
         margin-top:-240px;
         color: rgb(117, 117, 117);
         visibility:visible;
     }
 }
 .go{
     border-bottom: rgb(148, 148, 148) solid 3px;
 }  
 .los{
    transform:rotate(-90deg);
 }   
 .clear{  
     overflow: scroll;
     background-color: rgb(235,235,235);
 }
 .clear::-webkit-scrollbar{
     display: none;
 }
 .inde{
   z-index: 22;
 } 
 .opert::-webkit-scrollbar{ 
     display: none;
 }
 .opert{
    z-index: 22;
 }
 .cuplo::-webkit-scrollbar{
     display: none;
 }
 .logs{
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-image: url("/img/yell.jpeg");
 }
 .loger{
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-image: url("/img/wall.jpeg");
 }
 .logins{
     background-repeat: no-repeat;
     background-size: 100% 100%;
     background-image: url("/img/era.jpeg");
 }
 .romio{
     box-shadow: 0px 0px 20px 10px rgb(207, 207, 207);
 }
 .romioss{
     box-shadow: 0px 0px 20px 10px rgb(221, 221, 221);
 }
 .yu{
     width: 48%;
     display: flex;
     align-items: center;
 }
 .rote{ 
     transform: rotate(89deg);
 }
 .rotes{ 
     transform: rotate(180deg);
 }
 .hid{
     display: none;
 }
 .osell{
     display: none;
 } 
 .wego{
     text-align: center;
     font-size:20px;
 }
 .remio{
     box-shadow: 0px 0px 20px 10px rgb(207, 207, 207);
 } 

 .middle{
    width: 100%; 
    margin-top: 0px; 
    margin: auto;
    padding: 20px;
    background-color: #e5e7eb   ;
  }
  .twos{ 
     width: 100%;  
      height: 20px; 
  }
  .rise{
    animation-name: lets;
    width:40%;
    animation-duration: 4s; 
    animation-delay: 3s;
    border-radius: 10px; 
    background-color: #0068f0;
    height:25px;
  }
  @keyframes lets {
         10%{
           width: 10%;  
         } 
  }
  .risee{ 
    animation-name: letes;
    width: 50%;
    animation-delay: 3s;
    animation-duration: 4s; 
    border-radius: 10px; 
    background-color: rgb(255, 0, 0);
    height:25px;
  }
  @keyframes letes {
         10%{
           width: 10%;  
           background-color: black;
         } 
  }
  .ris{ 
    animation-name: letews;
    width: 70%;
    animation-delay: 3s;
    animation-duration: 4s; 
    border-radius: 10px; 
    background-color: rgb(0, 255, 115);
    height:25px;
  }
  @keyframes letews {
         10%{
           width: 10%;  
           background-color: black;
         } 
  }
  .rit{ 
    animation-name: letews;
    width:100%;
    animation-duration: 4s; 
    animation-delay: 3s;
    border-radius: 10px; 
    background-color: rgb(0, 153, 255);
    height:25px;
  }
  @keyframes letews {
         10%{
           width: 10%;  
           background-color: black;
         } 
  }


  

 /* tablet */
@media (max-width:1000px) {   
    .felling{
        display: block;
    }
    .wayone{
        width: 100%;
        background-color: black;
    }
    .mude{
        margin-left: 0px;
        float: right;
        margin-top: 5px;
        border-radius:3px;
        font-size: 10px;
        padding: 5px;
    }
    .rates{
        width:30%;
    }    
    .neverse{
        margin-top: 10px;
        width:90%;
    }
    .gose{
        margin-top:0px;
        font-size:11px;
    }
    .gop{ 
        font-size:21px;
    }
    .baglo{ 
        width: 95%; 
    }
    .udodi{
        margin-left: 0px;
    }
    .lion{ 
        display: flex; 
        width:70%;
    }
    .lio{ 
        font-size: 11px;
        display: flex;   
    }
    .migret{
       width:95%;
    } 
    .fash{
        font-size:11px;
    }
    .remio{
        box-shadow: 0px 0px 20px 10px rgb(207, 207, 207);
    }
    .mense{
        display: none;
    }
    .screenty{
        display: flex; 
        justify-items: start;
        padding: none;  
        align-items: flex-start;
        width: 100%; 
    }
    .lertly{ 
        display: block;
        padding: none;
    }
    .ferty{ 
        width: 100%; 
        margin: none;
    }
    .fert{
        width: 100%;    
        margin: none; 
    }
    .los{    
        position: absolute;
        transform: rotate(-90deg);
    }
    .handle{
        font-size: 18px; 
        font: bold;
        float: right;   
    }
    .lity{
        margin-top: -10px;
        padding: 5px;
    }
    .inputdiv{
        width: 100%;
    }
    .felo{
        width: 100%;          
    }
    .dones{
        display: block; 
    }
    .clear{
        width: 100%;
        padding:0px;
        padding-top: 5px;
    }
    .tert{ 
        padding: none;
        height: 350px;
    }
    .bat{
        display: none;
    }
    .bert{
        width: 100%;
        margin-top:20px; 
        animation-name: berts;
        animation-duration: 5s;
        visibility: hidden;
        font-size:30px;
    }
    @keyframes berts {
      10%{
          margin-top:212px;
          visibility: visible;
          display: none;
      }
    }
    .berter{
        animation-name: bertlo;  
        animation-delay: 5s;  
        font-size:25px; 
        margin-top:-140px;
        color: white;
        animation-duration: 6s; 
        visibility: hidden;
    } 
    @keyframes bertlo{
        10%{
            margin-top:-65px;
            color: white; 
            visibility:visible;
            display: none;
        }
    }
    .bertery{
        animation-name: ber;  
        animation-delay: 11s;
        font-size: 25px;
        margin-top:30px;
        animation-iteration-count: infinite;  
        animation-duration: 6s;  
        visibility:hidden;
    }
    @keyframes ber{
        10%{
            margin-top:-10px;
            color: rgb(255, 255, 255);
            visibility:visible;
        }
    }
    .baher{ 
        display: block;
    }
    .romior{
        margin: auto;
        width: 90%; 
        box-shadow: 0px 0px 20px 10px rgb(207, 207, 207); 
        margin-top: 25px;
    } 
    .bonch{
        width: 100%;
    }
    .hid{
        display: block;
    } 
    .opert::-webkit-scrollbar{
    display: none;
    } 
    .obey{
     width: 100%;
    }
    .osa{
        display: block;
    }
    .osell{
        display: block; 
    }
    .plet{
        width:30px; 
    }
    .plets{
        width:25px;  
    }
    .obeys{
        width: 100%; 
    }
    .obe{
        padding:0px;
    } 
    .clow{ 
        width: 100%;
    }
    .belly{
        display: block; 
    }
    .yern{
        display: none;
    }
    .wello{
        width:100%;
        padding: 0px;
        margin-top: 8px;
    }
    .well{
        padding: 0px;
        border-radius: 0px;
    }
    .tec{
        font-size: 20px;
    }
    .wen{
        padding: 8px;
    }
    .terc{
        font-size: 12px;
    }
    .just{
        padding:2px;
    } 
    .john{
        display: block;
        padding: 5px;
    }
    .sony{
        margin-top: 16px;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .sok{
        font-size:11px;
        margin: 0%;
        margin-top: 24px;
        margin-left: 8px;
        padding: 0%;
    }
    .soil{
        width:100%; 
        height: inherit;
    }
    .soo{ 
        width: 30%;
        height: 90px;
    }
    .mayor{
        padding: 5px;
        width: 50%; 
    }
    .mak{
        width: 10%;
        margin-left: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: end; 
        align-items: center; 
        font-size: 12px;
    } 
    .obeyt{ 
        padding:5px; 
        width: 100%;
        margin: 1px;
    }
    .hag{
        position:relative;  
        margin-left:-5px;
        width:80px;
    }
    .teplet{ 
        display: flex;
    }
    .jiop{ 
        justify-content: flex-end; 
    }
    .lined{
        width:70%;
        height:45px;
    }
    .followdiv{
        width: 100%; 
        display:flex; 
    }  
    .ome{
        width: fit-content;
        font-size:15px; 
    }
    .omelo{ 
        font-size: 10px;
    }
    .songer{
        font-size: 10px;
        width: 25%;
    }
    .songeri{
        font-size:9px;
        width: 25%;
        height:45px;
    }
    .youare{
        justify-content: space-between;
    }
    .obeyu{
        width:99%;
        height:750px;
        margin: auto;
        overflow: scroll;
    }
    .wego{
        text-align: center;
        font-size:15px;
    } 
    .finder{
        width: 95%;
        margin: auto;
    }
}
 













/* laptops */ 
@media (min-width:1000px) {   
    .songer{
        font-size: 10px; 
    } 
    .songeri{
        font-size: 10px; 
    } 
    .felling{
        display: none;
    }
    .bub{
        width:80%; 
    }
    .oble{
        width: 100%; 
    }
    .bub::-webkit-scrollbar{
        display: none;
    }
    .finder{
        width:30%;
        margin: auto;
    }  
    .omelo{ 
        font-size: 10px;
    }
    .baglo{ 
        width:45%;
    }
    .rates{
        width:30%;
    }  
    .gose{
      font-size:11px;
    }
    .meter{
        width:30%;
    }
    .fash{ 
        font-size: 10px;
    } 
    .romior{
        box-shadow: 0px 0px 20px 10px rgb(207, 207, 207); 
        width: 23%; 
        padding:5px;
    }
    .handle{
        margin-left:-61px;
        font-size:17px;   
        margin-top:5px;
    } 
    .plets{
        width:20px;
    }
    .inputdiv{ 
        width:35%; 
    }
    .felo{ 
        height:40px; 
        width:80%;
    }
    .weiu{
        width:23%;
    }
    .los{ 
        padding: 0%;
    }
    .plet{
        height:30px;
    }
    .baher{ 
        width: 100%; 
    }
    .buyu{ 
      padding: 0px;
    }
    .mint{ 
        margin: 0px;
        padding:3px;
      font-size: 10px;
    }
    .tray{
        font-size: 10px;
        margin-top:1px; 
    }
    .romioss{
        height:150px;
    } 
    .nive{ 
        width:30%;
    } 
    .letr{
        width:65%;
        background-color: white;
    }
    .tyre{
        font-size:10px;
    } 
    .gey{  
        font-size:1 0px; 
    }
    .mogis{
        margin-left:-5px;
       font-size: 10px;
    } 
    .mayor{
        width:40%;
        font-size: 10px; 
    }
    .obeys{
        width:35%; 
    }
    .obeyt{
        width:55%;
    }
}





/* 4k screen */
@media(min-width:1500px){
    .bub{ 
        width: 100%;
    }
    .baglo{ 
        width:27%;
    }
    .omelo{ 
        font-size: 10px;
    }
    .fourkey{
      max-width:80%;
      margin: auto;
    }
    .obeyt{
        width:25%;
    }
    .obeys{
        width: 25%; 
    }
    body{
       background-color: rgb(255, 255, 255);
    }
    .neverse{
        width:20%;
        margin-top:21px;
    }
    .finder{
        width:20%;
        margin: auto;
    }  
    .felo{ 
        height:40px;
        width:90%;
    }
}

 
